body {
  background: black;
}

#title {
  text-align: center;
  margin: 20px auto;
  font-family: 'Chewy', cursive;
  font-size: 50px;
  color: white;
}

#game-screen {
  margin: 10px auto;
  height: 520px;
  width: 600px;
}

.character {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: red;
  display: block;
}

.row {
  padding: 0;
  margin: 0;
}

.col {
  background-color: #529E60;
  width: 40px;
  display: inline-block;
  height: 40px;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.rock {
  background-color: #4D4F4E;
}