body {
  background: black;
}

#title {
  text-align: center;
  margin: 20px auto;
  font-family: 'Chewy', cursive;
  font-size: 50px;
  color: white;
}

#game-screen {
  margin: 10px auto;
  height: 520px;
  width: 600px;
}

.character {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
}
#player1 {
  background-color: red;
}

#player2 {
  background-color: blue;
}

#player3 {
  background-color: pink;
}

#player4 {
  background-color: green;
}

.row {
  padding: 0;
  margin: 0;
}

.col {
  background-color: #529E60;
  width: 40px;
  display: inline-block;
  height: 40px;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.bomb {
  background-color: black;
}

.rock {
  background-color: #4D4F4E;
}

.boom {
  background-color: orange !important;
}

.wood {
  background-color: #75603C;
}